# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
env/

# IDE / редакторы
.vscode/
.idea/
*.swp
*.swo

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb_save

# Логи и временные файлы
*.log
*.tmp
*.bak

# Системные файлы
.DS_Store
Thumbs.db
